<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>myCoachVic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
    <style type="text/css">
    .navbar .navbar-brand a.active{
        background-color: #f5f5f5;
        border-top-style: solid;
    }
    </style>
</head>
<body>
    <section class="section">
        <div id="app" class="container">
            <nav class="navbar">
                <div class="navbar-brand">
                    <a class="navbar-item" href="#" v-bind:class="{ active: currentTab=='home' }" v-on:click="currentTab='home'">
                        MyCoachVic
                    </a>
                    <a class="navbar-item" href="#" v-bind:class="{ active: currentTab=='overview' }" v-on:click="currentTab='overview'">
                        Overview
                    </a>
                    <a class="navbar-item" href="#" v-bind:class="{ active: currentTab=='newEntry' }" v-on:click="currentTab='newEntry'">
                        New Entry
                    </a>
                    <a class="navbar-item" href="#" v-bind:class="{ active: currentTab=='newSport' }" v-on:click="currentTab='newSport'">
                        New Sport
                    </a>
										<a class="navbar-item" href="#" v-bind:class="{ active: currentTab=='admin' }" v-on:click="currentTab='admin'" v-show="currentUser!=null && currentUser.admin">
                        Admin
                    </a>
                </div>
            </nav>
            <div v-show="currentTab=='home'">
                <h1 class="title">
                    Hello! My name is Vic.
                </h1>
                <p class="subtitle">
                    I'm you're personnal trainer.
                </p>
								<div v-if="currentUser==null">
									<div class="field">
										<input type="text" placeholder="Your name" v-model="typedName"/>
									</div>
									<div class="field is-grouped">
	                  <div class="control">
	                    <button class="button is-link" @click="logIn()">Connect</button>
	                  </div>
	                  <div class="control">
	                    <button class="button is-text" @click="register()">Register</button>
	                  </div>
	                </div>
								</div>

								<article v-else class="message is-dark">
									<div class="message-header">
										<p>
											<strong>{{currentUser.name}}</strong>
										</p>
										<p>
											<small class="tag is-danger">{{currentUser.age}} y.o.</small>
											<small class="tag is-danger">{{currentUser.size}} cm</small>
											<small class="tag is-danger">{{currentUser.weight}} kg</small>
										</p>
										<i class="fa fa-id-card-o" aria-hidden="true"></i>
									</div>
									<div class="message-body">
										<div class="tile is-ancestor">
										  <div class="tile is-vertical is-12">
												<div class="tile">
													<div class="tile is-parent">
														<article class="tile is-child notification is-light">
															<p class="title">X</p>
															<div class="content">
																Sessions
															</div>
														</article>
													</div>
													<div class="tile is-parent">
														<article class="tile is-child notification is-light">
															<p class="title">X,XX</p>
															<div class="content">
																Hours spent working out
															</div>
														</article>
													</div>
												</div>
												<div class="tile">
													<div class="tile is-parent">
										        <article class="tile is-child notification is-light">
										          <p class="title">Number of session</p>
										          <figure class="image is-4by3">
										            <img src="https://bulma.io/images/placeholders/640x480.png">
										          </figure>
										        </article>
										      </div>
										      <div class="tile is-parent">
										        <article class="tile is-child notification is-light">
															<p class="title">Time spent</p>
										          <figure class="image is-4by3">
										            <img src="https://bulma.io/images/placeholders/640x480.png">
										          </figure>
										        </article>
										      </div>
													<div class="tile is-parent">
														<article class="tile is-child notification is-light">
															<p class="title">Tiredness level</p>
															<figure class="image is-4by3">
																<img src="https://bulma.io/images/placeholders/640x480.png">
															</figure>
														</article>
													</div>
										    </div>
										  </div>
										</div>
										<button class="button is-text" @click="logOut()">Log out</button>
									</div>
								</article>
            </div>
            <div v-show="currentTab=='overview'">
                <h1 class="title">
                    Overview
                </h1>
                <p class="subtitle">
                    Here you can find a summary of all your training sessions.
                </p>
                <div v-if="currentUser!=null">

									<article class="message is-dark">
										<div class="message-header">
											<p><button class="button" v-for="sport in currentUser.sports" v-bind:class="{'is-danger': currentSport==sport }" v-on:click="setCurrentSport(sport)">
													{{sport}}
											</button></p>
											<i class="fa fa-bar-chart" aria-hidden="true"></i>
										</div>
										<div class="message-body" v-show="currentSport!=null">
											<div class="tile is-ancestor">
											  <div class="tile is-vertical is-12">
													<div class="tile">
														<div class="tile is-parent">
															<article class="tile is-child notification is-light">
																<p class="title">X</p>
																<div class="content">
																	Sessions
																</div>
															</article>
														</div>
														<div class="tile is-parent">
															<article class="tile is-child notification is-light">
																<p class="title">X,XX</p>
																<div class="content">
																	Hours spent working out
																</div>
															</article>
														</div>
													</div>
													<div class="tile">
														<div class="tile is-parent">
											        <article class="tile is-child notification is-light">
											          <p class="title">Number of session per week</p>
											          <figure class="image is-4by3">
											            <img src="https://bulma.io/images/placeholders/640x480.png">
											          </figure>
											        </article>
											      </div>
											      <div class="tile is-parent">
											        <article class="tile is-child notification is-light">
																<p class="title">Time spent evolution</p>
											          <figure class="image is-4by3">
											            <img src="https://bulma.io/images/placeholders/640x480.png">
											          </figure>
											        </article>
											      </div>
														<div class="tile is-parent">
															<article class="tile is-child notification is-light">
																<p class="title">Tiredness level evolution</p>
																<figure class="image is-4by3">
																	<img src="https://bulma.io/images/placeholders/640x480.png">
																</figure>
															</article>
														</div>
											    </div>
											  </div>
											</div>
										</div>
									</article>
								</div>
								<div v-else>
									Please connect.
								</div>
            </div>
            <div v-show="currentTab=='newEntry'">
                <h1 class="title">
                    New entry
                </h1>
                <p class="subtitle">
                    Select your sport, write down your performances.
                </p>
								<div v-if="currentUser!=null">
	                <div class="field">
	                  <label class="label">Sport</label>
	                  <div class="control">
	                    <div class="select">
	                      <select v-model="newEntry['sport']">
	                        <option v-for="sport in currentUser.sports">{{sport}}</option>
	                      </select>
	                    </div>
	                  </div>
	                </div>

	                <div class="field" v-if="newEntry.sport != null" v-for="metric in metrics['general']">
	                    <label class="label">{{metric.name}}</label>
	                    <div class="control">
	                        <input class="input" :type="newEntry[metric.type]" :placeholder="newEntry[metric.name]" v-model="newEntry[metric.name]">
	                    </div>
	                </div>

	                <div class="field" v-for="metric in metrics[newEntry['sport']]">
	                    <label class="label">{{metric.name}}</label>
	                    <div class="control">
	                        <input class="input" type="{newEntry[metric.type]}" :placeholder="newEntry[metric.name]" v-model="newEntry[metric.name]">
	                    </div>
	                </div>

	                <div class="field is-grouped">
	                  <div class="control">
	                    <button class="button is-link" v-on:click="submitNewEntry()">Submit</button>
	                  </div>
	                  <div class="control">
	                    <button class="button is-text" v-on:click="clearNewEntry()">Cancel</button>
	                  </div>
	                </div>
								</div>
								<div v-else>
									Please connect.
								</div>
            </div>
            <div v-show="currentTab=='newSport'">
                <h1 class="title">
                    New sport
                </h1>
                <p class="subtitle">
                    Here you can add a new sport by describing its caracteristics.
                </p>
                <div class="columns" v-if="currentUser!=null">
                    <div class="column">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="sport's name" v-model="newSport.name">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column field">
                                <label class="label">New metric's name</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="metric's name" v-model="newSport.current.name">
                                </div>
                            </div>
                            <div class="column field">
                                <label class="label">New metric's type</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="metric's type" v-model="newSport.current.type">
                                </div>
                            </div>
                            <div class="column">
                                <button class="button is-link" v-on:click="addMetric()">+</button>
                                <button class="button is-text" v-on:click="clearMetric()">clear</button>
                            </div>

                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" v-on:click="submitNewSport()">Submit</button>
                            </div>
                            <div class="control">
                                <button class="button is-text" v-on:click="clearNewSport()">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        Metrics:
                        <div class="tag" v-for="metric in newSport.metrics">{{metric.name}} : {{metric.type}}</div>
                    </div>
                </div>
								<div v-else>
									Please connect.
								</div>
						</div>
        </div>
    </section>

    <script src="js/app.js"></script>
    <!-- <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script> -->

</body>
</html>
